* {
    box-sizing: border-box;
}

html, body {
    height: 100%;
    margin: 0;
    font-family: 'Montserrat', sans-serif;
    background: azure;
}



header, footer {
    background: #00cccc;
    color: #000;
    height: 100%;
    width: 100%;
}



.white-background {
    background: white;
}

.service-description {
    padding: 2em;
    background-color: transparent;    
}

/* .reversed-header-wave {
    transform: rotate(180deg);
} */


.blue {
    background: white;
}

i {
    padding-right: 1em;
}

img {
    margin: 0;
}

.vector-image {
    height: auto;
    width: 50%;
}

.vector-image-container {
    text-align: center;
    padding-top: 2em;
}

h2 {
    text-align: center;
    font-size: 3em;
    margin-block-start: 0;
    margin-block-end: 0;
    background: white;
}

.hammer-icon {
    padding-left: 0.5em;
}

.services {
    display: flex;
    flex-direction: row;
    width: 70%;
    margin-left: auto;
    margin-right: auto;
    /* margin-bottom: 10em; */
    background-color: transparent;
    /* padding-bottom: 5em; */
}

.service-section {
    padding-bottom: 3em;
}

/* h2 {
    background: white
} */

.services-container {
    background: white;
    padding-bottom: 5em;
    /* height: 37em; */
}

/* .secion {
    
} */



/* ..................................Waves */

.wave {
    background-image: url(waves/actualy-white-wave.svg);
    background-repeat: no-repeat;
    background-position-y: bottom;
    width: 100%;
    height: 100%;
    position: absolute;
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
}

.azure-bottom-wave {
    background-image: url(waves/azure-bottom-wave.svg);
    background-repeat: no-repeat;
    background-position-y: bottom;
    /* width: 100%;
    height: 100%; */
    /* position: absolute; */
    /* display: flex;
    flex-direction: column;
    justify-content: flex-end; */
}

.reversed-footer-wave {
    background: white;
}

.reversed-wave {
    background-image: url(waves/reversed-wave.svg);
    background-repeat: no-repeat;
    background-position-y: top;
    width: 100%;
    height: 150vh;
    position: absolute;
}

/* .h2-wave {
    background-image: url(waves/blue-wave.svg);
    background-repeat: no-repeat;
    background-position-y: top;
    width: 100%;
    height: 50vh;
    
    
} */

/* ..................................Waves */


/* Grid */

/* ..................................Nav */


ul {
    list-style: none;
    margin-inline-end: 1em;
}

li {
    float: right;
    padding: 0 1em;
}

a {
    text-decoration: none;
    color: darkslategrey;
}

.mobile-nav {
    width: 100%;
    display: none;
    text-align: right;
    color: #000;
    border: 1px solid black;
    background: #00cccc;
    opacity: 0.5;
    cursor: pointer;
    position: absolute;
    left: 0px;
    top: 0px;
    z-index: 0;
    transform: translateY(-100%);
    transition: transform 0.5s ease;
}

.mobile-nav-active {
    transform: translateY(0);
}

.burger-icon {
    padding-top: 1em;
    padding-left: 1em;
    cursor: pointer;
    position: relative;
    left: 0px;
    top: 0px;
    z-index: 1;
    display: none;
}

.mobile-nav-a {
    color: black;
    
}

.mobile-nav-ul {
    display: flex;
    flex-direction: column;
    border: 1px solid black;
    margin-block-start: 0;
    margin-block-end: 0;
    padding-inline-start: 0;
    margin-inline-end: 0;
    position: relative;
    left: 0px;
    top: 0px;
    z-index: -1;
}

.mobile-nav-li {
    border: 1px solid black;
    padding-bottom: 2em;
    text-align: center;
}



@media only screen and (max-width: 600px) {
    .desktop-nav {
        display: none;
    }
    .mobile-nav, .burger-icon {
        display: block;
    }
  }


/* ..................................Nav */

/* ..................................Header */

.website-description > p {
    font-weight: bolder;
    font-size: 1.5em;
    /* font-size: 3vw; */
    float: left;
    margin: 0;
}

.website-description > h1 {
    font-size: 3em;
}

@media only screen and (max-width: 600px) {
    .website-description > p {
        font-size: 1em;
    }
    .website-description > h1 {
        font-size: 2em;
    }
  }

.website-description {
    width: 60%;
    height: 70%;
    padding-left: 5em;
}

.header {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    background-image: url(img/background.png);
    background-repeat: no-repeat;
    background-position-x: center;
    background-position-y: top;
    background-size: cover;
}



/* ..................................Header */

/* ..................................Form */

.contact-title {
    background: azure;
    padding-bottom: 1em;
    text-align: center;
}

.contact {
    width: 100%;
    /* height: 15em; */
    /* display: flex;
    flex-direction: column;
    justify-content: center; */
    background: azure;
}

form {
    width: 50%;
    /* height: 25em; */
    margin-left: auto;
    margin-right: auto;
    /* margin-top: 10em; */
    text-align: center;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    /* position: relative;
    left: 0px;
    top: 0px;
    z-index: 1; */
    
}

.contact-input {
    width: 100%;
    height: 3em;
    color: #00cccc;
    margin-bottom: 1em;
    font: 1.2em 'Montserrat', sans-serif;
    padding: 1em 2em;
    border-style: none;
    border-radius: 10px;
}

.contact-input:focus {
    border: #00cccc;
    border-style: solid;
    outline: none;
}

.contact-input:-webkit-autofill,
.contact-input:-webkit-autofill:hover, 
.contact-input:-webkit-autofill:focus,
textarea:-webkit-autofill,
textarea:-webkit-autofill:hover,
textarea:-webkit-autofill:focus,
select:-webkit-autofill,
select:-webkit-autofill:hover,
select:-webkit-autofill:focus {
  border: 1px solid green;
  -webkit-text-fill-color: green;
  -webkit-box-shadow: 0 0 0px 1000px #000 inset;
  transition: background-color 5000s ease-in-out 0s;
}

.contact-input::after {
    background: black;
}

.contact-input::-webkit-input-placeholder {
    color: #99ffff;
    font: 1.2em 'Montserrat', sans-serif;
} 


.contact-input:-moz-placeholder {
    color: #99ffff;
    font: 1.2em 'Montserrat', sans-serif;
}

.contact-input::-moz-placeholder {
    color: #99ffff;
    font: 1.2em 'Montserrat', sans-serif;
}

.contact-input:-ms-input-placeholder {
    color: #99ffff;
    font: 1.2em 'Montserrat', sans-serif;
}

.contact-textarea {
    height: 10em;
}

.contact-button {
    height: 3em;
}

/* ..................................Form */

/* ..................................Footer */



.footer {
    /* display: flex;
    flex-direction: column;
    justify-content: flex-end; */
    padding: 2em;
    padding-top: 20%;
}

hr {
    background-color: black;
    width: 100%;
}

.footer-bottom-section {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    padding: 2em;
}

.footer-top-container {
    display: grid;
    grid-template-columns: 2fr 1fr 1fr 1fr;
    grid-template-rows: 2fr 2fr 2fr 2fr;
}

.footer-top-section {
    display: flex;
    flex-wrap: wrap;
}

.product {
    padding-left: 1em;
    padding-right: 1em;
    padding-top: 1em;
    width: 9em;
    color: tomato;
}

.footer-description {
    width: 20em;
    text-align: left;
}

h3 {
    display: block;
    font-size: 2em;
    margin-block-start: 0;
    margin-block-end: 1em;
    margin-inline-start: 0px;
    margin-inline-end: 0px;
    font-weight: bold;
}

.footer-button {
    width: 10em;
    height: 2em;
    margin: 0 3em;
}

/* ..................................Footer */

/* ..................................Responsive */

@media only screen and (max-width: 600px) {
    .website-description {
      width:fit-content;
      height: auto;
      padding: 2em;
    }
    .services {
        display: flex;
        flex-direction: column;
        width: 100%;
    }
    .contact {
        width: 100%;
    }
    .blue {
        background: aliceblue;
    }
    .services-container {
        height: auto;
    }
    form {
        width: 90%;
    }
  }
